<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ishareReading.bankai.mapper.BooksMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.ishareReading.bankai.model.Books">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="author" property="author" />
        <result column="publication_year" property="publicationYear" />
        <result column="publisher" property="publisher" />
        <result column="isbn" property="isbn" />
        <result column="genre" property="genre" />
        <result column="description" property="description" />
        <result column="cover_image_id" property="coverImageId" />
        <result column="total_pages" property="totalPages" />
        <result column="language" property="language" />
        <result column="average_rating" property="averageRating" />
        <result column="rating_count" property="ratingCount" />
        <result column="view_count" property="viewCount" />
        <result column="download_count" property="downloadCount" />
        <result column="upload_time" property="uploadTime" />
        <result column="user_id" property="userId" />
        <result column="file_id" property="fileId" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="delete_at" property="deleteAt" />
        <result column="structure" property="structure" />
    </resultMap>

</mapper>
